:root {
    --white: #FFFFFF;
    --base: #F4F5FB;
    --black: #595959;
    --gray: #7C7C7C;
    --transition: 200ms ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--base);
}

.nmm {
    border-radius: 8px;
    background: var(--base);
    box-shadow: 2px 2px 4px rgba(162, 170, 221, 0.5), -2px -2px 4px var(--white);
}

.item-list {
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px;
    width: 100%;
    height: 83px;
    background-color: var(--base);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
}

.nav.float {
    box-shadow: 2px 2px 4px rgba(162, 170, 221, 0.5), -2px -2px 4px var(--white);
}

.nav > .hamburger {
    width: 42px;
    height: 42px;
    padding: 15px;
}

.nav > .hamburger span {
    display: block;
    width: 13px;
    height: 2px;
    background-color: var(--black);
    border-radius: 1px;
    margin: 0 0 3px 0;
}

.nav > .header {
    margin: 0 20px;
    color: var(--black);
    font-size: 14pt;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.nav > .options {
    width: 42px;
    height: 42px;
    padding: 14px 20px;
}

.nav > .options span {
    display: block;
    width: 3px;
    height: 3px;
    background-color: var(--black);
    border-radius: 2px;
    margin: 0 0 2px 0;
}

.content {
    margin: 83px 0 0 0;
    padding: 31px 20px;
    text-align: center;
}

.content > .landing > .icon {
    width: 120px;
    height: 120px;
 }

.content > .landing > .temperature {
    margin: 8px 0 0 0;
    font-size: 64px;
    font-weight: 500;
    color: var(--black);
}

.content > .landing > .weather {
    margin: 4px 0 0 0;
    font-size: 24px;
    color: var(--black);
}

.time-forecast {
    margin: 32px 0 0 0;
}

.time-forecast > .item-list {
    width: 100%;
    padding: 20px 0 20px 20px;
}

.time-forecast > .item-list > .item {
    display: inline-block;
    text-align: center;
    margin: 0 30px 0 0;
}

.time-forecast > .item-list > .item:last-child {
    margin: 0 20px 0 0;
}

.time-forecast > .item-list > .item > .weather {
    width: 28px;
    height: 28px;
}

.time-forecast > .item-list > .item > .temperature {
    margin: 5px 0 0 0;
    font-size: 9pt;
    font-weight: 400;
    color: var(--black);
}

.time-forecast > .item-list > .item > .time {
    margin: 14px 0 0 0;
    font-size: 13pt;
    font-weight: 400;
    color: var(--black);
}

.week-forecast {
    width: 100%;
    margin: 22px 0 0 0;
}

.week-forecast > .item-list {
    padding: 4px 4px 4px 0;
    margin: 0 0 0 -33px;
    width: calc( 100% + 53px );
}

.week-forecast > .item-list > .item {
    position: relative;
    display: inline-block;
    margin: 0 0 0 13px;
    width: 100px;
    height: 100px;
}

.week-forecast > .item-list > .item:first-child {
    margin: 0 0 0 33px;
}

.week-forecast > .item-list > .item:last-child {
    margin: 0 16px 0 13px;
}

.week-forecast > .item-list > .item > .day {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 9pt;
    color: var(--gray);
}

.week-forecast > .item-list > .item > .temperature {
    position: absolute;
    top: 24px;
    left: 10px;
    margin: 0;
    font-size: 22pt;
    font-weight: 500;
    color: var(--black);
}

.week-forecast > .item-list > .item > .weather {
    position: absolute;
    top: 65px;
    left: 10px;
    margin: 0;
    font-size: 10pt;
    color: var(--black);
}

.week-forecast > .item-list > .item > .icon {
    position: absolute;
    top: 63px;
    left: 66px;
    margin: 0;
    width: 23px;
    height: 23px;
}

.air-quality,
.details {
    position: relative;
    display: grid;
    margin: 51px 0 0 0;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.air-quality > .header,
.details > .header {
    position: absolute;
    margin: 0;
    top: -8px;
    transform: translateY(-100%);
    text-align: left;
    font-size: 12pt;
    color: var(--gray);
}

.air-quality > .item,
.details > .item {
    position: relative;
    height: 61px;
}

.air-quality > .item > .header,
.details > .item > .header {
    position: absolute;
    top: 11px;
    left: 25px;
    margin: 0;
    font-size: 9pt;
    color: var(--gray);
}

.air-quality > .item > .status,
.details > .item > .status {
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;
    font-size: 12pt;
    color: var(--black);
}

.air-quality > .item > .icon,
.details > .item > .icon {
    position: absolute;
    top: 21px;
    right: 18px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 375px) {

    .air-quality,
    .details {
        grid-template-columns: auto;
    }

}